name: Build

on:
  push:
    branches: [master]
    tags-ignore: ['**']
  pull_request:
  workflow_dispatch:
    inputs:
      beta-version-number:
        description: 'To publish a beta version: use the workflow version from the branch you want to publish from and include the beta version number in the box below. For example, a value of `1` will result in a package with a version suffix of `-beta.1`.'
        type: string
        required: false

env:
  DOTNET_NOLOGO: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

defaults:
  run:
    shell: pwsh

permissions:
  contents: write
  id-token: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - name: Check out code
      uses: actions/checkout@v4
    - name: Install .NET
      uses: actions/setup-dotnet@v4
    - name: Restore
      run: .\build.ps1 restore
    - name: Build
      run: .\build.ps1 build --skip restore
    - name: Test
      run: .\build.ps1 test --skip build
    - name: Log in to NuGet
      if: runner.os == 'Windows' && github.repository_owner == 'Faithlife' && github.ref == 'refs/heads/master'
      uses: NuGet/login@v1
      id: nuget-login
      with:
        user: bgrainger
    - name: Publish (Stable)
      if: runner.os == 'Windows' && github.repository_owner == 'Faithlife' && github.ref == 'refs/heads/master'
      env:
        BUILD_BOT_PASSWORD: ${{ secrets.BUILD_BOT_PASSWORD }}
        NUGET_API_KEY: ${{ steps.nuget-login.outputs.NUGET_API_KEY }}
      run: .\build.ps1 publish --skip test
    - name: Publish (Beta)
      if: runner.os == 'Windows' && github.repository_owner == 'Faithlife' && github.ref != 'refs/heads/master' && github.event.inputs.beta-version-number != ''
      env:
        BUILD_BOT_PASSWORD: ${{ secrets.BUILD_BOT_PASSWORD }}
        NUGET_API_KEY: ${{ steps.nuget-login.outputs.NUGET_API_KEY }}
      run: .\build.ps1 publish --skip test --version-suffix beta.${{ github.event.inputs.beta-version-number }}
